form{
    border: solid 1px;
    width: 700px;
    margin-left: 350px;
    background-color: bisque;
    padding-left: 30px;
}
h1{
    text-align: center;
    color: blueviolet;
}
label{
    font-weight: bold;
    color:brown
}
input{

}